* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2b3d5d, #1a1a1a);
    color: #fff;
    line-height: 1.6;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

button {
    padding: 10px;
    border: none;
    background: #ff6b6b;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background: #ff3b3b;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cocktail-card {
    background: #374a70;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.cocktail-card:hover {
    transform: scale(1.05);
}

.cocktail-card img {
    width: 100%;
    border-bottom: 2px solid #ff6b6b;
}

.cocktail-card h3 {
    padding: 10px;
    text-align: center;
}

.pop-out-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling in the pop-up */
}

.pop-out-container.show {
    display: flex;
}

.pop-out-content {
    background: #2b3d5d;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.pop-out-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.pop-out-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.close-button {
    background: #ff6b6b;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    background: #ff3b3b;
}

footer {
    text-align: center;
    padding: 20px 0;
}

.brand-highlight {
    color: #ff6b6b;
}

.loader-wrapper {
    display: none; /* Initially hide the loader */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    color: #ff6b6b;
    font-size: 2rem;
}
